<ion-content [fullscreen]="true">
  <div class="loginwapper">
    <div class="top">
      <div class="logo">
        <img  src="assets/images/logo.png"/>
      </div>
      <form>
        <p>Please your we are sending on 8754125475 number</p>
        <div class="form-group">
          <input type="number"/>
          <input type="number">
          <input type="number">
          <input type="number">
          <input type="number">
          <input type="number">
        </div>
        <ion-button routerLink="/verify">Verify</ion-button>
        <p class="otp-txt">Did't get an otp ? <a href="">Resend OTP</a></p>
      </form>
    </div>
  </div>
  </ion-content>
  