

<ion-content [fullscreen]="true">
  <div class="getStarted">
    <swiper-container [pagination]="true">
      <swiper-slide>
        <div class="slideInner">
         <img src="assets/images/search.png"/>
         <h2> Find Toto near you</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slideInner">
          <img src="assets/images/toto.png"/>
          <h2>You can get toto with in 5 min</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
         </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slideInner">
          <img src="assets/images/getstarted.png"/>
          <h2>Now all are ok let's start</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
         </div>
      </swiper-slide>
    </swiper-container>
  </div>
   <div class="btm">
    <ion-button routerLink="/login">Skip</ion-button>
   </div>
</ion-content>
